.hamburger {
  height: 20px;
  width: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .hamburger__line {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 3px;

    &.hamburger__line--2 {
      width: 85%;
    }
  }
}
