body {
  background: theme("colors.neutral.900");
}

.app {
  min-height: 100vh;
  position: relative;

  &.app--loading {
    height: 100vh;
    overflow-y: hidden;
  }

  .app__loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99;
  }
}

.loader-enter-active,
.loader-leave-active {
  transition: opacity 1s ease;
}

.loader-enter-from,
.loader-leave-to {
  opacity: 0;
}
