.loader {
  height: 100%;
  width: 100%;
  background-color: theme("colors.neutral.900");
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;

  .loader__body {
    .loader__img {
      @apply mx-auto;
      height: 70px;
    }

    .loader__title {
      margin-top: 10px;
      height: 20px;
    }
  }
}
