.contact-view {
  .contact__content {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    color: theme("colors.gray.400");
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    text-align: center;
  }

  .contact__btn-container {
    text-align: center;
  }

  .contact__socials-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 10px;
    grid-template-rows: auto;

    .socials__img {
      filter: opacity(0.3);
      transition: 200ms ease;
      transition-property: filter, transform;
      height: 30px;

      @include breakpoint_md {
        height: 50px;
      }

      &:hover {
        filter: opacity(1);
        transform: scale(1.1);
      }
    }
  }
}
