.about {
  .about__categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    gap: 30px;

    .category {
      .category__body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .category__icon {
          width: 36px;
          margin-right: 5px;
        }

        .category__title {
          color: theme("colors.gray.200");
          font-family: Roboto;
          font-size: 13px;
        }
      }

      .category__progress-bar {
        height: 3px;
        background-color: theme("colors.gray.500");
        position: relative;

        &:after {
          content: "";
          position: absolute;
          height: 100%;
        }

        &.reliable:after {
          width: 100%;
          background-color: theme("colors.emerald.600");
        }

        &.time-saving:after {
          width: 70%;
          background-color: theme("colors.amber.600");
        }

        &.best-deal:after {
          width: 100%;
          background-color: theme("colors.sky.500");
        }

        &.quality:after {
          width: 90%;
          background-color: theme("colors.yellow.500");
        }
      }
    }
  }

  .about__list {
    .about__item {
      display: flex;
      margin-bottom: 20px;
      gap: 20px;
      flex-wrap: wrap;

      @include breakpoint_sm {
        flex-wrap: nowrap;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .item__img-figure {
        height: 200px;
        overflow: hidden;
        border-radius: 10px;
        @apply shadow-md;

        img {
          transition: transform 200ms ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .item__aside {
        .item__title {
          @apply tracking-wide;
          font-size: theme("fontSize.xl");
          font-family: Roboto;
          font-weight: 500;
          text-transform: uppercase;
          color: theme("colors.gray.200");
          position: relative;
          margin-bottom: 10px;

          &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100px;
            height: 2px;
            background-color: theme("colors.sky.300");
          }
        }

        .item__body {
          font-family: Quicksand;
          color: theme("colors.gray.400");
          font-size: theme("fontSize.base");
        }
      }
    }
  }
}
